/* application css */
body {margin:0px;}
#main {font-size:100%;}
.hl0 {color:red;}

.counterParts {
	position:absolute;
	top:-1em;
	font-size:80%;
	color:lightgreen;
	background:rgba(32,128,32,0.2);
	cursor:pointer;
}
.sourcePage {
	position:absolute;top:-1em;
	cursor:pointer;
	font-size:80%;
	color:lightgreen;}
.bond {border-radius: 3px;color:black;}
.bondhandle {
	position:absolute;top:0.8em;
	cursor:pointer;
	font-size:90%;
}
.deletehandle {
	position:absolute;top:0.8em;
	cursor:pointer;
	font-size:90%;
	background:red;
}